.article {
    margin-top: 40px;
    width: 800px;
    
    .article-title {
        
        span {
            display: block;
        }
        
        span.title {
            
            a {
                font-size: 25px;
                font-weight: bold;
            }
        }
        
        span.description {
            color: grey;
            margin-top: 5px;
        }
        
    }
    
    .article-body {
        margin-top: 12px;
        text-align: justify;
    }
}
